
#r1{
	margin-top:5%;
}
 
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.carousel-inner > .item > img{
	width:100%;
	height:550px;
	
	
}
	
#mycon{
	width:100%;
	margin-top:5.5%;
	}
#myCarousel{

	
	
	}

hr{
	width:100%;
	border: 2px solid black;
	
}
.jumbotron{
	background-color:#ffc266;
	text-align:center;
	}
#about_us{
	width:100%;
	height:auto;
	text-align:center;
	position:relative;
	z-index:1;
	
	}	
 #about_us  h1{
	 z-index:2;
	 position:relative;
 }
 .abs{
	 position:absolute;
	 left:0;
	 right:0;
	 width:100%;
	 height:100%;
	  opacity:0.6;
	border:1px solid black;
	
	 } 	
#footer{
	margin-top:2%;
	background-color:black;
	
}
#copyright > h6{
	font-size:130%;
	margin-left:12%;
	}
.navbar{
	height:10%;
}

.container-fluid{
	height:100%;
	background-color:white;

	}


#links{
	margin-top:1%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:130%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#footer-con{
	background-color:black;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.figure-caption{
	font-size:130%;
	font-style:italic;
	font-weight:bolder;
	color:red;
}
#links li:hover { background-color:#2EA620; }
.services{
	height:50%;
	width:80%;
	border:2px solid black;
}
#home-content{
	border:2px solid black;
	height:200px;
	margin-top:2%;
}